@use './variables' as *;
@use './transitions' as *;
@use './helpers/sizing' as *;
@use './helpers/position' as *;

body {
  font-family: "Roboto", sans-serif;
}

.break-word {
  word-break: break-word !important;
}

.v-card {
  &.rounded-xl {
    .v-progress-linear {
      height: 4px;
      position: absolute;
      left: 50%;
      top: 0;
      overflow: hidden;
      width: calc(100% - 32px);
      transform: translateX(-50%);
    }
  }
}
